<div>
    <h1>Hola {{name}} gracias por visitar el sitio</h1>

    <h2>Formulario de Registro</h2>
    <form onsubmit="enviarFormulario(event)">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>
        
        <input type="submit" value="Enviar">
    </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
