<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="#" onclick="viewCart()">Ver Carrito</a>
        <a href="/api/products/form">Crear producto</a>
    </nav>
</header>